# Spark with Delta Lake in Jupyter Notebooks

There are several things that need special attention.

- Configure `"spark.jars.packages", "io.delta:delta-spark_2.13:4.0.0"` in order to download the Delta Lake jvm artifact.
- Configure `"spark.sql.warehouse.dir", "./spark-warehouse"` to set the location of the Spark SQL warehouse. This will be the location where managed tables are stored.
- Configure `"javax.jdo.option.ConnectionURL", "jdbc:derby:;databaseName=./metastore/metastore_db;create=true"` and `enableHiveSupport()` in order to use the Hive metastore to manage tables. This will create a local Derby database to store the metadata of the tables and will allow to look up tables by name.
- You need to have the `sparksql-magic` extension installed and `%load_ext sparksql_magic` in order to be able to run SQL queries in a cell magic using `%%sparksql`.
- Alternatively, and maybe it is easier, you can use the DataFrame API and point to the datafiles directly. In that case you don't need the SQL Warehouse, the Hive metastore and the `sparksql-magic` extension.

In [ ]:
%load_ext sparksql_magic

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql import Row
from pyspark.sql.window import Window
from delta.tables import DeltaTable

spark = (
    SparkSession.builder 
    .appName("DeltaExample")
    .master("local[*]")
    .config("spark.ui.enabled", "true")   
    .config("spark.jars.packages", "io.delta:delta-spark_2.13:4.0.0")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .config("spark.sql.warehouse.dir", "../spark-warehouse")
    .config("javax.jdo.option.ConnectionURL", "jdbc:derby:;databaseName=../metastore/metastore_db;create=true")
    .enableHiveSupport()    # persist metastore across sessions (embedded Hive metastore)
    .getOrCreate()
)

# Show the SparkUI url (useful for monitoring and debuging)
spark.sparkContext.uiWebUrl

In [ ]:
%%sparksql
create database if not exists marvel_db;

In [ ]:
%%sparksql
use marvel_db;

In [ ]:
%%sparksql
describe database marvel_db;

In [ ]:
%%sparksql
show tables;

In [ ]:
%%sparksql
create table if not exists marvel_db.superheroes
(
  id INT,
  hero_name STRING,
  secret_identity STRING,
  power_level INT
)
using delta

In [ ]:
%%sparksql
describe table marvel_db.superheroes

In [ ]:
schema = T.StructType([
    T.StructField("id", T.IntegerType(), False),
    T.StructField("hero_name", T.StringType(), False),
    T.StructField("secret_identity", T.StringType(), False),
    T.StructField("power_level", T.IntegerType(), False)
])

In [ ]:
raw_df = (
    spark.read
        .schema(schema)
        .option("header", "true")
        .csv("../data/marvel.csv")
)

raw_df.createOrReplaceTempView("superheroes_raw")

In [ ]:
%%sparksql
select * from superheroes_raw

In [ ]:
%%sparksql
DELETE FROM superheroes;

In [ ]:
%%sparksql
INSERT INTO marvel_db.superheroes (
  id,
  hero_name,
  secret_identity,
  power_level
)
SELECT
  id,
  hero_name,
  secret_identity,
  power_level
FROM superheroes_raw;

In [ ]:
%%sparksql
select * from superheroes;

In [ ]:
raw_df_mod = (
    spark.read
        .schema(schema)
        .option("header", "true")
        .csv("../data/marvel_mod.csv")
)

raw_df_mod.createOrReplaceTempView("superheroes_raw_mod")

In [ ]:
%%sparksql
MERGE INTO superheroes AS target
USING superheroes_raw_mod AS source
  ON target.id = source.id
WHEN MATCHED THEN UPDATE SET
  target.id = source.id,
  target.hero_name = source.hero_name,
  target.secret_identity = source.secret_identity,
  target.power_level = source.power_level
WHEN NOT MATCHED THEN INSERT (
  id, hero_name, secret_identity, power_level
) VALUES (
  source.id, source.hero_name, source.secret_identity, source.power_level
)
WHEN NOT MATCHED BY SOURCE THEN DELETE;

In [ ]:
%%sparksql
select * from superheroes;

In [ ]:
%%sparksql
UPDATE superheroes
SET power_level = power_level + 1
WHERE hero_name = 'Iron Man'

In [ ]:
%%sparksql
DELETE FROM superheroes WHERE hero_name = 'Ant-Man'

In [ ]:
%%sparksql
DESCRIBE HISTORY marvel_db.superheroes;

In [ ]:
%%sparksql
DESCRIBE DETAIL marvel_db.superheroes;

In [ ]:
%%sparksql
SELECT * FROM marvel_db.superheroes VERSION AS OF 1;

In [ ]:
%%sparksql
SELECT * FROM marvel_db.superheroes VERSION AS OF 2;

In [ ]:
# %%sparksql
# SELECT * FROM marvel_db.superheroes TIMESTAMP AS OF '2025-10-17 17:56:00';

In [ ]:
# %%sparksql
# SELECT * FROM marvel_db.superheroes TIMESTAMP AS OF '2025-10-17 17:57:00';

In [ ]:
%%sparksql
RESTORE TABLE marvel_db.superheroes TO VERSION AS OF 1;

In [ ]:
# %%sparksql
# RESTORE TABLE marvel_db.superheroes TO TIMESTAMP AS OF '2025-10-17 22:35:00';

In [ ]:
%%sparksql
DESCRIBE DETAIL marvel_db.superheroes;